@import "null.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Merriweather:ital@1&display=swap');

.wrapper{
    font-family: "Lato" ;
    font-size: 20px;
    font-style: normal;
    min-height: 100%;
	overflow: hidden;
    
}


h1{
    font-size: 46px;
    font-weight: 900;
    line-height: 1.3;
    color: #1E212C;
    margin: 190px 765px 92px 345px ;
    min-height: 120px;
    min-width: 810px;
}

.img-glass{
    max-height: 360px;
    max-width: 810px;
    margin: 0 765px 60px 345px;
}

.first{
    font-weight: 700;
    line-height: 1.5;
    color: #1E212C;
    text-align: left;
    margin: 0 765px 24px 345px;
    min-width: 810px;
    min-height: 90px;
}
.first-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    margin: 0 765px 40px 345px;
    min-width: 810px;
    min-height: 71px;  

}
.second-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    margin: 0 765px 48px 345px; 
    min-width: 810px;
    min-height: 71px;   
}
.third{
    color: #1E212C;
    font-weight: 700;
    line-height: 1.5;
    margin: 0 765px 48px 403px ;
    min-width: 752px;
    min-height: 120px;
}

.fourth{
    color: #424551;
    font-size: 16px;
    line-height: 1.6;
    margin: 0 765px 24px 345px ;
    min-width: 810px;
    min-height: 52px;
    
}




.fifth{
    color: #424551;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    margin: 0 975px 24px 377px;
    padding-bottom: 5px;
    min-width: 600px;
    min-height: 116px;
}
.last{
    color: #424551;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin: 0 765px 212px 345px;
    min-width: 810px;
    min-height: 104px;
}    